{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Flask pretty form -->
{% macro pretty_form(form) %}
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.name != 'csrf_token' %}
            {{ wtf.form_field(field) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block title %}Register Me Silly{% endblock %}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
<div class='container'>
    <!-- Title -->
    <h1 class="my-4">Register Me Silly</h1>

    <!-- Horizontal rule -->
    <hr>

    <!-- Flashed Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="my-4">
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }} alert-dismissable fade show"
                       role="alert">
                       {{ message }}
                       <button type="button" class="close" data-dismiss="alert">
                           &times;
                       </button>
                    </p>
                {% endfor %}
            </div class="my-4">
        {% endif %}
    {% endwith %}

    <!-- Main data -->
    <div class="row my-4">

        <!-- Input form -->
        <div class="col-lg-6 my-4">
            <!-- Form tabs -->
            <ul class="nav nav-pills mb-3" id="form-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="new-class-form-tab"
                       data-toggle="pill"
                       href="#new-class-form"
                       role="tab">
                       New Class
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="upload-csv-form-tab"
                       data-toggle="pill"
                       href="#upload-csv-form"
                       role="tab">
                       Upload CSV
                    </a>
                </li>
            </ul>

            <!-- Form tab content -->
            <div class="tab-content" id="form-tabs-content">
                <!-- New Class Form -->
                <div class="tab-pane fade show active" id="new-class-form" role="tabpanel">
                    <h2>New Class Form</h2>
                    <p>URL needs to be full direct url from webpage. No redirects (e.g. bit.ly urls).</p>
                    <form class='form' action="/new-class-check" method="post">
                        {{ pretty_form(new_class_check_form) }}
                        <button type="submit" class="btn btn-primary">Add Class</button>
                    </form>
                </div>

                <!-- CSV Upload Form -->
                <div class="tab-pane fade" id="upload-csv-form" role="tabpanel">
                    <h2>Upload CSV Form</h2>
                    <p>CSV file should have no header and have following format:</p>
                    <ul>
                        <li>First Column: <b>Class ID</b></li>
                        <li>Second Column: <b>Time ID</b></li>
                        <li>Third Column: <b>URL</b></li>
                    </ul>
                    <p>URL needs to be full direct url from webpage. No redirects (e.g. bit.ly urls).</p>
                    <form class='form' action="/upload-csv" method="post" enctype="multipart/form-data">
                        {{ pretty_form(upload_csv_form) }}
                        <button type="submit" class="btn btn-primary">Upload CSV</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Class List -->
        <div class="col-lg-6 my-4">
            <h2>Class List</h2>
            <table class="table">
                <thead>
                    <thead>
                        <tr>
                            <th>Class ID</th>
                            <th>Time ID</th>
                            <th>Available</th>
                            <th>Last Checked</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for klass in classes %}
                            <tr>
                                <td>{{ klass.class_id }}</td>
                                <td>{{ klass.time_id }}</td>
                                <td>{{ klass.available }}</td>
                                <td>{{ klass.last_checked }}</td>
                                <td>
                                    <form action="/{{ klass.id }}/delete" method="post">
                                        <button
                                            class="btn btn-sm btn-danger"
                                            type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
